@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

.card {
  width: 600px;
  height: auto;
  background-color: #1779db;
  padding: 15px;
  font-family: "Kumbh Sans", sans-serif;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.row {
  display: flex;
  flex-direction: column;
}

/* Input box */
.input-box {
  height: 15px;
  background-color: #1779db;
  border: 1px solid white;
  color: white;
  font-size: medium;
  padding: 10px;
  margin-top: 5px;
}

.input-box::placeholder {
  color: white;
}

.input-box:focus {
  outline: none;
}

.input-box:focus::placeholder {
  color: transparent;
}

/* Two columns */
.grid {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  column-gap: 15px;
}

/* Date */
.input-date {
  vertical-align: middle;
  font-size: medium !important;
}

.input-date[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  filter: invert(1);
}

input[type="date" i] {
  font-family: "Kumbh Sans", sans-serif;
}
.input-date::-webkit-datetime-edit {
  position: relative;
  left: 15px;
}

.input-date::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 15px;
}

.input-date:in-range::-webkit-datetime-edit-year-field,
.input-date:in-range::-webkit-datetime-edit-month-field,
.input-date:in-range::-webkit-datetime-edit-day-field,
.input-date:in-range::-webkit-datetime-edit-text {
  color: transparent !important;
  display: none;
}

.space-up {
  margin-top: 15px;
}

/* Text area */
.textarea {
  min-height: 50px;
  font-family: "Kumbh Sans", sans-serif;
}
